<app-navbar></app-navbar>


<div class="container mt-5" style="max-width: 500px;">
    <div class="card shadow p-4" style="width: 100%; max-width: 500px; background-color: lightgreen">
        <h2 class="text-center text-primary mb-4">Login</h2>

        <div *ngIf="form.message" class="mb-3 text-center">
            <div *ngIf="!form.error" class="alert alert-success py-2">{{ form.message }}
            </div>
            <div *ngIf="form.error" class="alert alert-danger py-2"> {{ form.message }}
            </div>
        </div>

        <form>
            <div class="form-group mb-3">
                <h6> <label for="oldPassword">Login Id <span class="text-danger">*</span></label></h6>
                <input type="loginid" id="loginId" name="loginId" [(ngModel)]="form.data.loginId" class="form-control"
                    placeholder="Enter Old Password" required />
                <small class="text-danger">{{ form.inputerror.loginId }}</small>
            </div>

            <div class="form-group mb-3">
                <h6> <label for="oldPassword">Password <span class="text-danger">*</span></label></h6>
                <input type="password" id="password" name="loginId" [(ngModel)]="form.data.password"
                    class="form-control" placeholder="Enter Old Password" required />
                <small class="text-danger">{{ form.inputerror.password }}</small>
            </div>


            <div class="text-center">
                <button type="submit" (click)="signIn()" class="btn btn-primary px-4">Sign In</button>
                &nbsp;&nbsp;
                <button (click)="signUp()" class="btn btn-primary px-4">Sign Up</button>
            </div>

            <div align="center">
                <th></th>
                <td><a href="#"><b>Forget my password?</b></a>&nbsp;</td>
            </div>
        </form>