<app-navbar></app-navbar>

<div class="container mt-5" style="max-width: 500px;">
    <div class="card shadow p-4" style="width: 100%; max-width: 500px; background-color: lightgreen">
  <h2 class="text-center text-primary mb-4">Change Password</h2>

  <div *ngIf="form.message" class="mb-3 text-center">
    <div *ngIf="!form.error" class="alert alert-success py-2">{{ form.message }}
    </div>
    <div *ngIf="form.error" class="alert alert-danger py-2"> {{ form.message }}
    </div>
  </div>

  <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
    <div class="form-group mb-3">
     <h6> <label for="oldPassword" >Old Password <span class="text-danger">*</span></label></h6>
      <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="form.data.oldPassword" class="form-control" placeholder="Enter Old Password" required/>
      <small class="text-danger">{{ form.inputerror.oldPassword }}</small>
    </div>

    <div class="form-group mb-3">
     <h6> <label for="newPassword">New Password <span class="text-danger">*</span></label></h6>
      <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Enter New Password"  [(ngModel)]="form.data.newPassword" required />
      <small class="text-danger">{{ form.inputerror.newPassword }}</small>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary px-4">Change Password</button>
      &nbsp;&nbsp;
       <button (click)="forward('/changePassword')" class="btn btn-primary px-4">Reset</button>
    </div>
  </form>
  </div>
</div>
